@{
    ViewData["Title"] = ".NET Core C# Authorization Code Flow Tutorial - SKY API";
    ViewData["Message"] = "The following is a demonstration of the authorization code flow within SKY API, implemented using <a href=\"https://www.microsoft.com/net/core/platform\" target=\"_blank\">.NET Core</a>.";
}
