@{
    ViewData["Title"] = "ASP.NET C# Authorization Code Flow Tutorial - SKY API";
    ViewData["Message"] = "The following is a demonstration of the authorization code flow within SKY API, implemented using <a href=\"https://blogs.msdn.microsoft.com/webdev/2016/05/16/announcing-asp-net-core-rc2/\" target=\"_blank\">ASP.NET Core RC2</a>.";
}
